<header class="header" [ngClass]="{'collapsed': isCollapsed}">
  <div class="header-logo" >Watch Pro</div>
  <nav>
    <ul class="header-menu">
      <li><a [routerLink]="['']">Home</a></li>
      <li><a [routerLink]="['/about']">About</a></li>
      <li><a [routerLink]="['/selection']" >Products</a></li>
      <li><a [routerLink]="['/login']">Contact</a></li>
    </ul>
  </nav>
  <div class="header-cart">
    <i class="fa fa-shopping-cart"></i>
    <span>Cart (0)</span>
  </div>
</header>
<!-- adding spacing for the header so it dosent overlap, collapse animation issue -->
<body>
<p>‎</p>
<p>‎</p>
<p>‎</p>
<p>‎</p>
<p>‎</p>
<p>‎</p>
</body>
