<header class="header" [ngClass]="{'collapsed': isCollapsed}">
  <div class="header-logo">Your Logo</div>
  <nav>
    <ul class="header-menu">
      <li><a href="">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/selection">Products</a></li>
      <li><a href="/login">Contact</a></li>
    </ul>
  </nav>
  <div class="header-cart">
    <i class="fa fa-shopping-cart"></i>
    <span>Cart (0)</span>
  </div>
</header>
<body>
<p>‎</p>
<p>‎</p>
<p>‎</p>
<p>‎</p>
<p>‎</p>
<p>‎</p>
</body>
