<div class="dropdown">
  <div class="dropbtn">Item Type
  <div class="dropdown-content">
    <ul>
      <li><input type="checkbox" id="bracelet" (change)="onChange($event)" /><label for="bracelet">Bracelet</label></li>
      <li><input type="checkbox" id="ring" (change)="onChange($event)" /><label for="ring">Ring</label></li>
      <li><input type="checkbox" id="earring" (change)="onChange($event)" /><label for="earring">Earring</label></li>
      <li><input type="checkbox" id="chain" (change)="onChange($event)" /><label for="chain">Chain</label></li>
      <li><input type="checkbox" id="watch" (change)="onChange($event)" /> <label for="watch">Watch</label></li>
    </ul>
  </div>
  </div>
</div>


<div class="dropdown">
  <div class="dropbtn">Item Type
  <div class="dropdown-content">
    <ul>
      <li><input type="checkbox" id="bracelet" (change)="onChange($event)" /><label for="bracelet">Bracelet</label></li>
      <li><input type="checkbox" id="ring" (change)="onChange($event)" /><label for="ring">Ring</label></li>
      <li><input type="checkbox" id="earring" (change)="onChange($event)" /><label for="earring">Earring</label></li>
      <li><input type="checkbox" id="chain" (change)="onChange($event)" /><label for="chain">Chain</label></li>
      <li><input type="checkbox" id="watch" (change)="onChange($event)" /> <label for="watch">Watch</label></li>
    </ul>
  </div>
  </div>
</div>
