<div class="dropdown">
  <div class="dropbtn">Brands
  <div class="dropdown-content">
    <ul>
      <li><input type="checkbox" id="FAVS" (change)="onChangeBrand($event)" /><label for="FAVS">FAVS</label></li>
      <li><input type="checkbox" id="CHRIST" (change)="onChangeBrand($event)" /><label for="CHRIST">CHRIST</label></li>
      <li><input type="checkbox" id="Breitling" (change)="onChangeBrand($event)" /><label for="Breitling">Breitling</label></li>
      <li><input type="checkbox" id="Rolex" (change)="onChangeBrand($event)" /><label for="Rolex">Rolex</label></li>
      <li><input type="checkbox" id="RADO" (change)="onChangeBrand($event)" /> <label for="RADO">RADO</label></li>
    </ul>
  </div>
  </div>
</div>


<div class="dropdown">
  <div class="dropbtn">Products
  <div class="dropdown-content">
    <ul>
      <li><input type="checkbox" id="Bracelet" (change)="onChangeItem($event)" /><label for="Bracelet">Bracelet</label></li>
      <li><input type="checkbox" id="Ring" (change)="onChangeItem($event)" /><label for="Ring">Ring</label></li>
      <li><input type="checkbox" id="Earring" (change)="onChangeItem($event)" /><label for="Earring">Earring</label></li>
      <li><input type="checkbox" id="Chain" (change)="onChangeItem($event)" /><label for="Chain">Chain</label></li>
      <li><input type="checkbox" id="Watch" (change)="onChangeItem($event)" /> <label for="Watch">Watch</label></li>
    </ul>
  </div>
  </div>
</div>
