.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;

  max-width: 600px;
  max-height: 450px;
  margin: auto;
}

.grid-item {
  background-size: cover;
  background-position: center;
  background-color:   	#F8F8F8;
  border: none;
  width: 250px;
  height: 350px;
  position: relative;
  margin: 10px;


}

.fav-btn {
  background-image: url("src/assets/icons/favIconSelected.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}


.fav-btn.selected {
  background-image: url("src/assets/icons/favIcon.svg");
}
.fav-btn:not(.selected) {
  background-image: url("src/assets/icons/favIconSelected.svg");
}
.sale-icon {
  background-image: url("src/assets/icons/sale.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 10px;
  margin: 5px;
}
